
# Development Setup

## Development Process

1. To protect against regressions, always add full coverage for existing code before modifying it.

    1.1. reverse engineer the current features
    1.2. create specs sentences for these features
    1.3. add this to `SCENARIOS.md`
    1.4. use the spec sentences as display name for unit tests
    1.5. Run a separate test review focusing on covering all existing features and avoiding test overlap.

2. Plan new features
    2.1. create specs sentences for the new feature
    2.2. add this to `SCENARIOS.md`

3. Implement new feature.

4. Add tests for new features
    4.1. use the spec sentences as display name for unit tests
    4.2. Run a separate test review focusing on covering all existing features and avoiding test overlap.

5. Verify using old and new tests.
6. Run a separate code review of the code and fix all code smells.

## General

* OS: Windows
* Maven project

## Code Quality

* Max class length: 100 lines
* Avoid Switch statements, use polymorphy.
* On completion run a separate code review of the code and fix all code smells.

## Verification

* Always add unit tests, Junit 5.
* Existing demo code should be added as unit test, too.
* Check code coverage and check it.
